.headings-links-border {
  border-bottom: 2px solid #75b951;
}

.headings-links-container {
  padding-top: 0.5%;
  padding-bottom: 0.75%;
  padding-left: 20px;
}

.home-link,
.home-link:visited {
  color: #75b951;
  font-size: 36px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-decoration: none;
  padding-right: 5%;
  transition: color 0.7s;
}

.about-link,
.about-link:visited,
.contact-link,
.contact-link:visited,
.projects-link,
.projects-link:visited,
.github-link,
.github-link:visited {
  color: #75b951;
  font-size: 28px;
  padding-left: 3%;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.7s;
}

.about-link {
  padding-left: 3%;
  padding-right: 0%;
}

.home-link:hover,
.about-link:hover,
.contact-link:hover,
.projects-link:hover,
.github-link:hover {
  color: #bbf899;
}
